#main{
  position: relative;
  overflow: hidden;
}
#page1{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#page2{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: white;
}